<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wahid.digitalsoftware.rentalmotor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/golo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CetakSewaActivity" />
        <activity android:name=".Penyewa1Activity" />
        <activity android:name=".UbahPenyewaActivity" />
        <activity android:name=".LihatPenyewaActivity" />
        <activity android:name=".TambahPenyewaActivity" />
        <activity android:name=".RentalActivity" />
        <activity android:name=".DetailMotorActivity" />
        <activity android:name=".SewaMotorActivity" />
        <activity android:name=".DataMotorActivity" />
        <activity
            android:name=".SplaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme1" />
    </application>

</manifest>